 <img src="/viking_{{user.Profile.gender}}.jpg">
    <div class="col-md-6">
    <form class="form-group">
      <div class="form-group">
        <label>First Name:</label><input type="text" placeholder="{{user.fname}}" class="form-control">
      </div>
      <div class="form-group">
        <label>Last Name:</label><input type="text" placeholder="{{user.lname}}"class="form-control">
      </div>
      <div class="form-group">
        <label>Username:</label><input type="text" placeholder="{{user.username}}"class="form-control">
      </div>
      <div class="form-group">
        <label>Email:</label><input type="text" placeholder="{{user.email}}"class="form-control">
      </div>
      {{#if user.Profile}}
      <div>
        <div><strong>Description:</strong> {{user.Profile.description}}</div>
        <div><strong>talents:</strong> {{user.Profile.talents}}</div>
        <div><strong>favorites:</strong> {{user.Profile.favorites}}</div>
        <div><strong>why:</strong> {{user.Profile.why}}</div>
        <div><strong>gender:</strong> {{user.Profile.gender}}</div>
        <div><strong>marital:</strong> {{user.Profile.marital}}</div>
        <div><strong>height:</strong> {{user.Profile.height}}</div>
        <div><strong>body:</strong> {{user.Profile.body}}</div>
        <div><strong>kids:</strong> {{user.Profile.kids}}</div>
        <div><strong>occupation:</strong> {{user.Profile.occupation}}</div>
        <div><strong>userId:</strong> {{user.Profile.userId}}</div>
      </div>
    </form>
    </div>
    {{/if}}