      
          <img src="/viking_{{user.Profile.gender}}.jpg">

      <div>
	      <strong>First Name:</strong>{{user.fname}}
      </div>
      <div>
        <strong>Last Name:</strong>{{user.lname}}
      </div>
      <div>
        <strong>Username:</strong>{{user.username}}
      </div>
      <div>
        <strong>Email:</strong>{{user.email}}
      </div>
      {{#if user.Profile}}
      <div>
	      <div><strong>Description:</strong> {{user.Profile.description}}</div>
	      <div><strong>talents:</strong> {{user.Profile.talents}}</div>
	      <div><strong>favorites:</strong> {{user.Profile.favorites}}</div>
	      <div><strong>why:</strong> {{user.Profile.why}}</div>
	      <div><strong>gender:</strong> {{user.Profile.gender}}</div>
	      <div><strong>marital:</strong> {{user.Profile.marital}}</div>
	      <div><strong>height:</strong> {{user.Profile.height}}</div>
	      <div><strong>body:</strong> {{user.Profile.body}}</div>
	      <div><strong>kids:</strong> {{user.Profile.kids}}</div>
	      <div><strong>occupation:</strong> {{user.Profile.occupation}}</div>
	      <div><strong>userId:</strong> {{user.Profile.userId}}</div>
      </div>
      {{else}}
      {{/if}}

      <a href="/users/{{user.id}}/edit"><button>Edit Profile</button></a>
