{{>navForm}}
{{#each arrayOne as |array|}}
<div class="row">
	{{#each array as |user|}}
	<div class="col-md-4">
		<div class="{{user.Profile.marital}}">
			<a href='/users/{{user.id}}'>
				<div>
					{{user.fname}}
				</div>
				<div>
					{{user.lname}}
				</div>
				<div>
					{{user.username}}
				</div>
				<div>
					{{user.email}}
				</div>
			</a>
		</div>
	</div>
	{{/each}}
</div>
{{/each}}
