<div>
        {{user.fname}}
      </div>
      <div>
        {{user.lname}}
      </div>
      <div>
        {{user.username}}
      </div>
      <div>
        {{user.email}}
      </div>
      {{#if user.Profile}}
      <div>
	      <div>{{user.Profile.description}}</div>
	      <div>{{user.Profile.talents}}</div>
	      <div>{{user.Profile.favorites}}</div>
	      <div>{{user.Profile.why}}</div>
	      <div>{{user.Profile.gender}}</div>
	      <div>{{user.Profile.marital}}</div>
	      <div>{{user.Profile.height}}</div>
	      <div>{{user.Profile.body}}</div>
	      <div>{{user.Profile.kids}}</div>
	      <div>{{user.Profile.occupation}}</div>
	      <div>{{user.Profile.userId}}</div>
      </div>
      {{else}}
      {{/if}}
